#logoj
{font-weight: 60px;
    height: 60px;
padding-right: 10px;
padding-left: 5PX;
padding-top: 5px;
}
.card-image{
    height: auto;
    width: 400px;
    border: none;
}
#ph{
    width: 100px;
}
p {
    text-align: center;
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.card-action{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
}
.cadre1{
    padding-top: 20px;
    
}
.lo1
{font-weight: 70px;
    height: 65px;

padding-top: 30px;
}
#t2
{
    color:black;   
}
h4{
    text-align: center;
    text-shadow: 10px;
    color: #ec7819;
padding-bottom: 40px;

}
#t1
{
    color: black;
}
#l1{
    padding-right: 60px;
}
#l2{
    padding-right: 60px;
}
#l3{
    padding-right: 60px;
}
.page2{
    background-image: url(../care&smile/80de4634-4767-4a86-a72f-bd9de2bac22b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.paragraphe{
    text-align: center;
    text-size-adjust: 100px;
    letter-spacing: 3px;
    line-height: 2;
    color:black;
    font-style: gras italic;}
h3{ color:black;}

footer{padding-top: 200px;}
.dropdown-content{ padding-top: 100px;}
.inscri
{color:#009688;
    font-style: gras;
    font-size: 50px;}
#contact
{color: rgb(228, 137, 0);
    font-style: italic;}

#btn{margin-top: 20px;
    margin-left: 210px;
    margin-bottom: 50px;}
#btn1{ margin-top: 20px;
    margin-bottom: 50px;}
    h5{
        font-size: 70px;
        font-style: italic;
    }
    .para1{
        font-size: 30px;
    }
    .para2{
        margin-top: 100px;
    }
    .video{
        margin-top: 20px;
    }
    .para3{
        margin-top: 200px;
        
    }
    .para4{
        margin-top: 100px;}
        nav{
            background: rgba(0, 0, 0, 0.2);

            
        }
        #menu
        {
            background-image: url(../care&smile/mkla.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        
        }
        .food{
            color: #422c15;
        }
        .p1{
            color:rgb(9, 122, 52);
            text-align: center;
            font-style: gras;
           font-size: 20px
          }
          .p2{
              font-size: 25px;
              font-style: gras;
          }
          #image{
              height: 250px;
            width: 292px;
          }
          #image1{
            height: 250px;
          width: 292px;
        }
        #image2{
            height: 250px;
          width: 292px;
        }
        .l1{
            color:rgb(9, 122, 52);
            text-align: left;
            font-style: gras;
           font-size: 20px
          }